<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Challenge Accepted Videos</title>
  <link rel="stylesheet" href="/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
  <script src="//assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>

  <script> ZiggeoApi.token = "7c1ac0d9b66838fd09875138b9d0d5c3"; </script>
  <script> ZiggeoApi.Events.on("submitted", function (data) {
    alert("The video with token " + data.video.token + " has been submitted!");
    });
  </script>
  <script>
    ZiggeoApi.Videos.index({}, {
      success: function (args, videos) {
        for (var i = 0; i < videos.length; ++i)
          $("#ziggeo-video-container")
            .append(
              "<ziggeo class='video' width='300' ziggeo-video='" +
                videos[i].token +
              "'></ziggeo>");
      }
    });
  </script>
</head>

<body>
  <div class="row">

    <div class="col m6 s12 ">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4>Top <span class = "textColor">Videos</span></h4>
          <h4> Will you accept the Challenge? </h4>
          <div id="ziggeo-video-container"></div>
        </li>

      </ul>
    </div>

  <h4> Will you accept the Challenge? </h4>
  <div id="ziggeo-video-container"></div>
  <!-- Ziggeo recording blah -->
  <ziggeorecorder ziggeo-timelimit=15
    ziggeo-width=320
    ziggeo-height=240
    ziggeo-theme='modern'
    id="myRecorder">
  </ziggeorecorder>
</body>
</html>
